extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Raju Veerlapati
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each heroines, index in items
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{heroines.heroine_name} - #{heroines.heroine_color} - $#{heroines.heroine_cost}
  
  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }